mixin carousel(id, infoData, infoMixin, hasControlBtn= true)
	article.carousel.slide(id= id, data-bs-ride='carousel')
		.carousel-indicators
			- var count = 0
			each item in infoData
				- count++
				button(class= count === 1 ? 'active' : null, type='button', data-bs-target=`#${id}`, data-bs-slide-to=`${count-1}`, aria-current= count === 1 ? 'true' : null, aria-label=`Slide ${count}`)
		.carousel-inner
			- var count = 0
			each item in infoData
				- count++
				.carousel-item(class= count === 1 ? 'active' : null)
					+#{infoMixin}(item)
		if hasControlBtn
			button.carousel-control-prev.carousel-btn.position-absolute.top-50.start-0.translate-middle-y(type='button' data-bs-target=`#${id}` data-bs-slide='prev')
				span.fas.fa-arrow-left(aria-hidden='true')
				span.visually-hidden Previous
			button.carousel-control-next.carousel-btn.position-absolute.top-50.end-0.translate-middle-y(type='button' data-bs-target=`#${id}` data-bs-slide='next')
				span.fas.fa-arrow-right(aria-hidden='true')
				span.visually-hidden Next

mixin headerCarousel(item)
	article.header__carousel-container
		img.header__carousel-img(src="./assets/images/" + item.imgFile, alt= item.subtitle)
		.header__carousel-content
			h2.header__carousel-title= item.title
				span.header__carousel-year="Since " + item.year
				span.header__carousel-subtitle= item.subtitle

mixin productCarousel(item)
	article.product-carousel
		.row
			each listItem in item
				- const {img, imgAlt, type, name, price, originPrice, link} = listItem
				.col-12.col-md-6.col-lg-3
					+productBlock(img, imgAlt, type, name, price, originPrice, link)

mixin reviewCarousel(item)
	article.review-carousel.text-center.mt-4
		- var {desc, img, imgAlt, name, job} = item
		img.mt-3(src="./assets/images/quote.png", alt="quote")
		p.customerReview__desc.text-center= desc
		a(href="#").text-center.d-block Read more
		.customerReview__avatar
			img(src=`./assets/images/${img}`, alt= imgAlt)
		h4.customerReview__name.mb-0= name
		span.customerReview__job= job
		
